PORT=5000
MONGODB_URI=mongodb://localhost:27017/hostel_attendance
JWT_SECRET=super_secret_hostel_jwt_key_2026_change_in_prod

# Fixed Hostel Geofence Location (System Level Config)
HOSTEL_LATITUDE=11.055548
HOSTEL_LONGITUDE=78.047153
HOSTEL_GEOFENCE_RADIUS_METERS=100

TIMEZONE=Asia/Kolkata
CLIENT_URL=http://localhost:5173
NODE_ENV=development
TEST_MODE=false
AI_SERVICE_URL=http://127.0.0.1:8000
AI_SERVICE_API_KEY=super_secret_ai_api_key_2026
